@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #558b2f;
  border-width: 6px;
  border-color: orange;
  border-style: solid;
}

.container {
  padding: 5px;
}
.bg-container {
  background-image: url("./images/Frame\ 6\ \(1\).svg");
  height: 60vh;
  width: 100%;
  background-size: cover;
}

.heading {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
}

.quick-view-btn1 {
  background-color: #ffffff;
  color: #fe0000;
  font-weight: 600;
  font-size: 15px;
  height: 45px;
  width: 145px;
  text-align: center;
  border: none;
  padding: 10px;
  padding-right: 30px;
  margin-left: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.title {
  text-align: center;
  color: #f27121;
  font-weight: 600;
}

.about-section {
  padding: 20px;
  background: #f5f5f5;
  text-align: center;
}

.about-section-img {
  width: 120px;
  height: 100px;
  margin-top: 30px;
  left: 120px;
  gap: 0px;
  opacity: 0px;
}
.section-para {
  padding-left: 60px;
  padding-right: 60px;
}
.section-text {
  font-weight: 600;
}

.section-bottom-line {
  width: 91vw;
  margin-left: 20px;
}
.img {
  width: 560px;
  height: 400px;
  top: 12px;
  left: 12px;
  gap: 0px;
  opacity: 0px;
}
.products {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.product {
  margin: 10px;
  text-align: center;
}

.product-title {
  margin-right: 20px;
  padding-left: 22px;
  padding-top: 10px;
  font-size: 16px;
}
.card {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quick-view-btn {
  font-size: 16px;
  text-align: center;
  background: #fe0000;
  color: white;
  margin-right: 20px;
  height: 40px;
  width: 145px;
  border: none;

  cursor: pointer;
}

.footer-section {
  background: #25a769;
  color: #ffffff;
  margin-top: 60px;
  padding: 20px;

  text-align: center;
  width: 100vw;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-section-heading {
  color: rgb(221, 221, 24);
}

.footer-section-line {
  padding-top: 40px;
  width: 100vw;
}

.title {
  margin: 20px;
}

.social-icons img {
  width: 20px;
  margin: 0 5px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.icon-container {
  background-color: #202b36;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  margin: 5px;
  padding: 15px;
}

.icon {
  color: #959ead;
  font-size: 30px;
}

.img1 {
  height: 50vh;
  width: 50%;
}
